.Upload {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.Upload h1 {
  text-align: center;
  color: var(--text-color);
}

.Upload form {
  display: flex;
  flex-direction: column;
}

.Upload form div {
  margin-bottom: 20px;
  width: 100%;
}

.Upload label {
  color: white;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.Upload input[type="text"],
.Upload textarea,
.Upload button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center; /* Add this line to center the text */
}

.Upload textarea {
  height: 120px;
  resize: none;
}

.Upload button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.Upload button:hover {
  background-color: #45a049;
}
